html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  overflow-x: hidden; /* only hide horizontal scroll */
  font-family: sans-serif;
  background-color: #f9f7fc;
  background: linear-gradient(120deg, #f9f9f9, #e6e4f0, #d2cde1);
}

.parentDiv {
  display: flex;
  flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.container {
  display: flex;
  position: relative;
  gap: 16px;
  justify-content: space-between;
  align-items: center;
  padding: 3rem 1rem;
  width: 100vw;
  box-sizing: border-box;
  background: linear-gradient(to bottom, #ffffff 0%, #dcd1e9 58%, #cbbbdd 100%);
  box-shadow: 10px 10px 10px grey;
}

.navbar {
  display: flex;
  gap: 1.5rem;
  font-family: "Telex", sans-serif;
  align-items: center;
}

.navLink {
  text-decoration: none;
  color: #1f2937;
  font-size: 1.5rem;
  font-weight: 800;
  transition: color 0.2s ease;
}

.navLink:hover {
  color: #3b82f6;
}

.companyName {
  font-family: "Nunito";
  font-weight: 800;
  font-size: 32px !important;
}

.buttonContainer {
  display: flex;
  gap: 12px;
  align-items: center;
}

.buttonContainer button {
  padding: 0.5rem 1rem;
  background-color: #2b788b;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  transition: background 0.2s ease;
  font-family: "Telex", sans-serif;
  font-size: larger;
  margin-bottom: 12px;

}

.buttonContainer button:hover {
  background-color: #2563eb;
}

.buttonContainer span {
  font-family: "Telex", sans-serif;
  color: black;
  font-size: 1.5rem;
}

.contentSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 1rem;
  gap: 2rem;
  width: 100%;
  text-align: center;
  justify-content: center;
  box-sizing: border-box;
}

.bodyDiv {
  padding: 2rem 2rem;
  font-size: 1.75rem;
  font-weight: 600;
  text-align: center;
  width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mainText {
  color: #334155;
  font-size: 1.6rem;
  line-height: 1.5;
  max-width: 800px;
  margin: 0 auto 1.5rem auto;
  text-align: center;
  font-family: "Kalnia", sans-serif;
}

.highlight {
  color: #2b788b !important;
  font-size: 3rem;
  margin-bottom: 1.5rem;
  font-weight: 800;
  line-height: 1.3;
  font-family: "Kalnia", sans-serif;
}

.tagline {
  font-family: "Dela Gothic One", sans-serif;
  color: black;
  font-size: 1.5rem;
  margin-bottom: 0.6rem;
}

.imageDiv {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.imageDiv img {
  width: 100%;
  max-width: 700px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
}

.companyNameWithLogo {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}

.companyNameWithLogo img {
  height: 60px;
  margin-left: 8px;
}

.bodyButton {
  padding: 0.5rem 1rem;
  background-color: #2b788b;
  color: white;
  border: none;
  border-radius: 12px;
  cursor: pointer;
  transition: background 0.2s ease;
  font-family: "Telex", sans-serif;
  font-size: larger;
  width: 300px;
}

.bottomContent {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 1rem;
  width: 100%;
  gap: 2rem;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.bottomImageDiv {
  background: linear-gradient(to bottom, #f9f9f9, #e6e4f0, #dcd1e9);
  padding: 1rem;
  border-radius: 16px;
}

.bottomImage {
  height: 300px;
  width: 300px;
  object-fit: cover;
  border-radius: 12px;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0.6),
    rgba(203, 187, 221, 0.3)
  );
  background-blend-mode: overlay;
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.1);
  opacity: 0.94;
  transition: transform 0.3s ease;
}

.uploadTextSection {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 768px) {
  .bodyDiv p {
    font-size: 1.2rem;
    line-height: 1.6;
    padding: 0 1rem;
  }

  .highlight {
    font-size: 1.6rem;
  }

  .bottomContent {
    flex-direction: column;
    align-items: center;
  }

  .bottomImageDiv {
    margin-left: 0;
  }
}
